/* Set up page as a grid */
.homepage {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 80px 270px 50px;
    grid-template-areas:
            "nav"
            "header"
            "figure"
            "article";
}

.restaurantPage {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 80px 270px 40px 80px 80px;
    grid-template-areas:
            "nav"
            "header"
            "figure"
            "article"
            "restName"
            "rating";
}

header{
    grid-area: header;
    text-align: center;
    font-family: Impact, serif;
    font-size: 22px;
    letter-spacing: 2px;
    -webkit-text-fill-color: #e7c48a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8c5f40;
}
figure{
    grid-area: figure;
    margin-right: auto;
    margin-left: auto;
}
article{
    grid-area:article;
    text-align: center;
    color: #b19569;
}

/* Home Page Styles */
/* Dropdown Button */
.dropbtn {
    background-color: #b19569;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #b19569;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7c48a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #feffb8
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Carousal */
    /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

    /* Hide the images by default */
.mySlides {
    display: none;
}

    /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

    /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

    /* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 0px 12px;
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
}


    /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

    /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Review Page Styles */
.restName{
    grid-area: restName;
    text-align: center;
    font-family: Impact, serif;
    font-size: 30px;
    letter-spacing: 3px;
    -webkit-text-fill-color: #e7c48a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8c5f40;
}


.restaurantDescription{
    grid-area:article;
    font-size: 25px;
    text-align: center;
    color: #8c5f40;
}

/* Comment Box */
.sil-widget-star-rating{
    grid-area: rating;
    margin-right: auto;
    margin-left: auto;
}









