extend default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block content
    if rstrntUpdated
        .alert.alert-success
            | Restaurant updated!
    form(method='post', enctype="multipart/form-data")
        if body.photo
            img(src=body.photo)
        else
            label(for='photo') Select a photo for the restaurant
            input(type='file', name='photo', placeholder="Photo")
        input(type='name', name='name', placeholder="Name", value=body.name)
        input(type='address', name='address', placeholder='Address', value=body.address)
        textarea(name='description', placeholder='Description')
            if body.description
                | #{body.description}

        button(type='submit') Submit