extends parents/default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block content
    .wrapper
        a.btn(href='/edit-reviews', style="margin-bottom: 3rem;") Add new review
        ul.review-list
            each r in reviews
                li
                    .detail
                        .title
                            a(href=`./reviews/id/${r.id}`) #{r.title}

                        .rating-stars
                            - for (var i = 0; i < Math.floor(r.rating); i++)
                                label.full
                            - if (r.rating != Math.floor(r.rating))
                                label.half
                        .clearfloat
                        .date
                            |on #{r.date.toLocaleString()}
                        .descript
                            | #{r.description}