extends parents/default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')
    link(rel='stylesheet', type='text/css', href='/css/rating-stars.css')

block content
    .wrapper
        include includes/review-list