extends parents/default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')
    link(rel='stylesheet', type='text/css', href='/css/rating-stars.css')

block content
    include includes/rstrnt-detail

        .wrapper(style='max-width:unset;margin-top:2rem')
            a.btn(href=`/edit-restaurant/${restaurant._id}`)
                i.fas.fa-edit
                | Edit

        .title Average Rating
        if restaurant.rating < 0
            | No ratings yet
        else
            - rating = restaurant.rating
            include includes/rating-stars
        .clearfloat
        .Reviews

        div(style="margin-top:5rem")
            .title
                |Reviews
                a.btn(href=`/edit-review/${restaurant._id}` style="float:right") Add new review
            - reviews = restaurant.reviews
            include includes/review-list
