extends parents/form

block append content
    form(method="post")
        label(for='username') Username
        input(id='username', type='username', name='username', placeholder='Username', value=session.user.name)
        label(for='email') Email
        input(id='email', type='email', name='email', placeholder='Email', value=session.user.email)
        button(type='submit', style="margin-top: 2rem;") Update
    .wrapper
        a.btn(href='/reset-pwd') Change Password
