extends default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block content
    .wrapper
        .btn
            a(href='/new-restaurant') Add new restaurant
    form(method="post")
        label(for='username') Username
        input(id='username', type='username', name='username', placeholder='Username', value=session.user.name)
        label(for='email') Email
        input(id='email', type='email', name='email', placeholder='Email', value=session.user.email)
        button(type='submit', style="max-width: unset") Update
    hr
    .wrapper
        .btn
            a(href='/reset-pwd') Change Password
