form, .alert {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}
form input {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #acacac;
    outline: none;
    padding: 0.8rem;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
}
.rating-stars-wrapper {
    color: #fff;
    margin-top: 2rem;
}
.rating-stars-wrapper p {
    margin: 0;
}
.rating-stars {
    padding: 1rem 0;
    display: inline-block;
    border: none;
    font-size: 1.25rem;
}
.rating-stars label {
    line-height: 30px;
    color: #ddd;
    float: right;
}
.rating-stars .half::before {
    content: "\f089";
    position: absolute;
}
.rating-stars label::before {
    margin: 0 10px 0 0;
    font-size: 1.25em;
    font-family: FontAwesome, serif;
    display: inline-block;
    content: "\f005";
}
.rating-stars > input[type="radio"] {
    display: none;
}

.description {
    position: relative;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #acacac;
    outline: none;
    padding: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    resize: none;
    margin-top: 1rem;
    box-sizing: border-box;
}
button[type="submit"], .signup {
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.8rem;
    border-radius: 4.1px;
    border: none;
    outline: none;
    min-width: 130px;
    max-width: 100px;
    margin-top: 1rem;
    display: inline-block;
}

.signup {
    background-color: wheat;
    max-width: none;
    display: table;
}
.signup a {
    box-shadow: none;
    color: black;
}

.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px 15px 15px 2rem;
}
.alert li {
    line-height: 1.5;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}