body {
    background: url('/images/woodBack.jpg');
    max-width: 970px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    display: block;
    box-shadow: 0 1px 0 0 currentColor;
    transition: color .1s linear, background-color .1s linear, opacity .1s linear;
}
a:focus {
    outline: thin dotted;
}
.homepage {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 300px 80px;
    grid-template-areas:
            "header"
            "figure"
            "article";
}
header{
    grid-area: header;
    text-align: center;
    font-family: Impact, serif;
    font-size: 22px;
    letter-spacing: 2px;
    -webkit-text-fill-color: #e7c48a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8c5f40;
}
figure{
    grid-area: figure;
    margin: 0 auto;
}
article{
    grid-area:article;
    text-align: center;
    color: #b19569;
}

/* Navbar container */
.navbar {
    background-color: #333;
    font-family: Arial, serif;
    width: 70px;
    position: absolute;
    top: 2.25rem;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #e7c48a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #dfcdff;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    height: 40px;
    width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #b19569;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    background-color: #e7c48a;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none; /* Hide the images by default */
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    background: #333;
    color: #fff;
    font-size: 15px;
    padding: 0 12px;
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* restaurant list */

ul.restaurant-list {
    padding: 0 10%;
    list-style: none;
    font-family: Montserrat, Merriweather, serif;
}

ul.restaurant-list li {
    padding: 1rem;
    border: 1px solid aliceblue;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

ul.restaurant-list a {
    display: table;
}

ul.restaurant-list a h1 {
    margin: 0;
}