extends default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')

block content
    if errors
        ul.alert.alert-error
            each error in errors
                li #{error.msg}
    if msg
        .alert.alert-success #{msg}