extends ../parents/default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')
    link(rel='stylesheet', type='text/css', href='/css/rating-stars.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block content
    .wrapper
        a.btn(href='/edit-restaurant', style="margin-bottom: 3rem;") Add new restaurant
        ul.restaurant-list
            each r in rstrnts
                li
                    a.photo(style=`background-image:url(${r.photo});` href=`./restaurants/id/${r.id}`)
                        .photo-placeholder
                    .detail
                        .name
                            a(href=`./restaurants/id/${r.id}`) #{r.name}
                        .rating
                            if r.rating < 0
                                |  No ratings yet
                            else
                                - rating = r.rating
                                include ../includes/rating-stars
