extends ../parents/default

block append head
    link(rel='stylesheet', type='text/css', href='/css/inputs.css')
    link(rel='stylesheet', type='text/css', href='/css/rating-stars.css')

block content
    include ../includes/rstrnt-detail

        .wrapper(style='max-width:unset')
            a.btn(href=`/edit-restaurant/${restaurant._id}`)
                i.fas.fa-edit
                | Edit

        .title Average Rating
        if restaurant.rating < 0
            | No ratings yet
        else
            - rating = restaurant.rating
            include ../includes/rating-stars
        .clearfloat
        .Reviews

        div(style="margin-top:5rem")
            .title
                span Reviews
                a.btn.float-btn(href=`/edit-review/${restaurant._id}`) Add new review
            - reviews = restaurant.reviews
            include ../includes/review-list
